@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Chronicle;
  font-display: swap;
  src: url("../fonts/Chronicle-Display-Bold.woff2") format("woff2"), url("../fonts/Chronicle-Display-Bold.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Extrabold.woff2") format("woff2"), url("../fonts/Gilroy-Extrabold.woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Chronicle;
  font-display: swap;
  src: url("../fonts/Chronicle-Display-Semibold.woff2") format("woff2"), url("../fonts/Chronicle-Display-Semibold.woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
header,
footer,
aside {
  display: block;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  width: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Gilroy;
  font-weight: 400;
  background: #0b1d26;
  font-size: 18px;
  color: #ffffff;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

[class*=__container] {
  max-width: 76.14%;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  max-width: 100%;
  height: 100%;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 100%;
  height: 100%;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ibg img {
  display: none;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: transparent;
}

.header__container {
  max-width: 91.6%;
  margin: 0 auto;
}

.header__body {
  padding: 64px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  padding: 0 15px 0 0;
  position: relative;
  z-index: 5;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__account {
  padding: 0 0 0 15px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__link {
  font-size: 18px;
  line-height: 122.2222222222%;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.account-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 5;
}

.account-header__icon {
  margin: 0 8px 0 0;
}

.account-header__text {
  font-size: 17px;
  line-height: 123.5294117647%;
  color: #fff;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 14.5%;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__column:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.column-footer__block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.column-footer__text {
  max-width: 300px;
  font-weight: 700;
  font-size: 18px;
  line-height: 178%;
  color: #ffffff;
}

.column-footer__copy {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 18px;
  line-height: 178%;
  color: #ffffff;
  opacity: 0.5;
}

.column-footer__title {
  font-size: 24px;
  line-height: 133%;
  margin: 0 0 24px 0;
  color: #fbd784;
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.menu-footer__link {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 18px;
  line-height: 178%;
  color: #ffffff;
}

.purpose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 800;
  font-size: calc(
    14px + 4 * ((100vw - 320px) / 1600)
  );
  line-height: 122.2222222222%;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fbd784;
}

.purpose::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  margin: 0 30px 0 0;
  background-color: #fbd784;
  height: 2px;
}

.parallax {
  min-height: 100vh;
}

.parallax__body {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.parallax__container {
  max-width: 91.6%;
  margin: 0 auto;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 287px 0 0 0;
}

.parallax__images {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  z-index: 1;
}

.images-parallax::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: -o-linear-gradient(119.76deg, rgba(11, 29, 38, 0) 31.06%, #0b1d26 108.93%);
  background: linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%, #0b1d26 108.93%);
}

.images-parallax__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.no-webp .images-parallax__clouds {
  background: url("../img/clouds.jpg") center/cover no-repeat; }

.images-parallax__clouds {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 0;
}

.no-webp .images-parallax__mountains {
  background: url("../img/mountains.png") top/cover no-repeat; }

.images-parallax__mountains {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 30%;
  z-index: 2;
}

.no-webp .images-parallax__human {
  background: url("../img/human.png") top/cover no-repeat; }

.images-parallax__human {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 45%;
  z-index: 3;
}

.social-parallax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.social-parallax__text {
  text-transform: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 122.2222222222%;
  color: #ffffff;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.main-parallax {
  padding: 0 0 0 22.5%;
}

.main-parallax > *:not(:last-child) {
  margin: 0 0 33px 0;
}

.main-parallax__title {
  max-width: 75.1%;
  font-family: Chronicle;
  font-style: normal;
  font-weight: 600;
  font-size: calc(
    33px + 55 * ((100vw - 320px) / 1600)
  );
  line-height: 114%;
  text-transform: capitalize;
  color: #ffffff;
}

.scroll-main-parallax {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  gap: 15px;
}

.scroll-main-parallax__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: none;
  color: #ffffff;
}

.list-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list-navbar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-navbar__item::after {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3px;
          flex: 0 0 3px;
  height: 60px;
  margin: 0 0 0 32px;
  background-color: #fff;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.list-navbar__item:hover::after {
  opacity: 1;
}

.list-navbar__link {
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-transform: none;
}

.content {
  margin: 220px 0 0 0;
  background-color: #0b1d26;
  position: relative;
  z-index: 2;
}

.content::before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  -webkit-transform: translate(0, -60%);
      -ms-transform: translate(0, -60%);
          transform: translate(0, -60%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 29, 38, 0)), color-stop(61.38%, #0b1d26));
  background: -o-linear-gradient(top, rgba(11, 29, 38, 0) 0%, #0b1d26 61.38%);
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0b1d26 61.38%);
}

.content__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block {
  -webkit-transform: translate(0, -27.7%);
      -ms-transform: translate(0, -27.7%);
          transform: translate(0, -27.7%);
}

.block:not(:last-child) {
  margin: 0 0 200px 0;
}

.block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block__body-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.block__content {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 53.48%;
          flex: 0 1 53.48%;
}

.block__content-1::before {
  content: "01";
  position: absolute;
  z-index: 1;
  left: -23.73%;
  top: -23.46%;
  font-family: Gilroy;
  font-weight: 700;
  font-size: calc(
    50px + 190 * ((100vw - 320px) / 1600)
  );
  line-height: 100%;
  color: #ffffff;
  opacity: 0.1;
}

.block__content-3::before {
  content: "03";
  position: absolute;
  left: -23.73%;
  top: -23.46%;
  font-family: Gilroy;
  font-weight: 700;
  font-size: calc(
    50px + 190 * ((100vw - 320px) / 1600)
  );
  line-height: 100%;
  color: #ffffff;
  opacity: 0.1;
}

.block__picture {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 39.53%;
          flex: 0 1 39.53%;
  padding: 0 0 50.3% 0;
}

.block__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content-block {
  max-width: 632px;
}

.content-block-reverse {
  max-width: 632px;
}

.content-block-reverse::before {
  content: "02";
  position: absolute;
  left: -23.73%;
  top: -23.46%;
  font-family: Gilroy;
  font-weight: 700;
  font-size: calc(
    50px + 190 * ((100vw - 320px) / 1600)
  );
  line-height: 100%;
  color: #ffffff;
  opacity: 0.1;
}

.content-block > *:not(:last-child) {
  margin: 0 0 27px 0;
}

.content-block__sub-title {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.content-block__title {
  font-family: Chronicle;
  max-width: 555px;
  font-weight: 600;
  font-size: calc(
    35px + 29 * ((100vw - 320px) / 1600)
  );
  line-height: 120.3125%;
  color: #ffffff;
}

.content-block__text {
  font-weight: 700;
  font-size: calc(
    14px + 4 * ((100vw - 320px) / 1600)
  );
  line-height: 178%;
  color: #ffffff;
}

.more-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.more-block__text {
  font-size: 18px;
  line-height: 122.2222222222%;
  color: #fbd784;
}

@media (max-width: 1750px) {
  .content-block-reverse::before {
    left: -10%;
  }
}

@media (max-width: 1440px) {
  [class*=__container] {
    max-width: none;
  }

  .header__body {
    padding: 50px 0;
  }

  .parallax__container {
    padding: 170px 0 0 0;
  }

  .block__content-1::before {
    left: 0;
  }

  .block__content-3::before {
    left: 0;
  }

  .content-block-reverse::before {
    left: 0;
  }

  .content-block > *:not(:last-child) {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 1210px) {
  .block {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .content-block {
    max-width: 80%;
  }

  .content-block-reverse {
    max-width: 80%;
  }
}

@media (max-width: 1150px) {
  .footer__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 50px;
  }

  .footer__column:first-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .footer__column:nth-child(2),
  .footer__column:nth-child(3) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 45%;
  }
}

@media (max-width: 1024px) {
  .content-block > *:not(:last-child) {
    margin: 0 0 15px 0;
  }
}

@media (max-width: 767px) {
  .header__container {
    max-width: none;
  }

  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .header__icon-menu {
    display: block;
    position: relative;
    width: 60px;
    height: 32px;
    margin: 0 0 0 30px;
    cursor: pointer;
    z-index: 5;
  }

  .header__icon-menu span {
    position: absolute;
    width: 100%;
    height: 4px;
    top: 14px;
    left: 0;
    background-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__icon-menu span:first-child {
    top: 0;
  }

  .header__icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .header__icon-menu.active span {
    background-color: #fff;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 14px;
  }

  .header__icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 14px;
  }

  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgb(11, 29, 38);
    z-index: 3;
    padding: 0 0 100px 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header.active::before {
    left: 0;
    opacity: 1;
    visibility: visible;
  }

  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: rgb(11, 29, 38);
    overflow: auto;
    padding: 30px 0 20px 0;
    z-index: 2;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu.active {
    left: 0;
  }

  .menu__list {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .menu__item {
    margin: 0;
  }

  .menu__item:not(:last-child) {
    margin: 0 0 20px 0;
  }

  .menu__link {
    font-size: 40px;
  }

  .purpose {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .purpose::before {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
    margin: 0 10px 0 0;
  }

  .parallax__container {
    max-width: none;
  }

  .parallax__container {
    padding: 130px 15px 0 15px;
  }

  .social-parallax {
    display: none;
  }

  .main-parallax {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main-parallax__title {
    max-width: none;
    text-align: center;
  }

  .list-navbar {
    display: none;
  }

  .block__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .block__body-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .block__content {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    padding: 0;
  }

  .block__content-1::before {
    top: -10%;
  }

  .block__picture {
    padding: 0 0 100% 0;
    width: 100%;
    margin: 0 0 50px 0;
  }

  .content-block {
    max-width: none;
  }

  .content-block-reverse {
    max-width: none;
  }
}

@media (max-width: 767px) and (max-width: 424px) {
  .header__icon-menu {
    width: 40px;
    height: 21px;
    margin: 0 0 0 15px;
  }

  .header__icon-menu span {
    height: 2px;
    top: 9.5px;
  }

  .header__icon-menu.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 9.5px;
  }

  .header__icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 9.5px;
  }
}

@media (max-width: 727px) {
  .block:not(:last-child) {
    margin: 0 0 100px 0;
  }
}

@media (max-width: 600px) {
  .block__content-3::before {
    top: -10%;
  }

  .content-block-reverse::before {
    top: -10%;
  }
}

@media (max-width: 550px) {
  .footer__column:nth-child(2),
  .footer__column:nth-child(3) {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: none;
  }

  .column-footer {
    text-align: center;
  }

  .column-footer__text {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .menu-footer__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 424px) {
  .purpose::before {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25px;
            flex: 0 0 25px;
  }
}

@media (max-width: 330px) {
  .header__logo {
    display: none;
  }

  .header__account {
    padding: 0;
  }
}

@media (max-aspect-ratio: 3/2) {
  .images-parallax__human {
    background-position: 20% top;
  }
}

.webp .images-parallax__clouds { background: url(../img/clouds.webp) center/cover no-repeat; }

.webp .images-parallax__mountains { background: url(../img/mountains.webp) top/cover no-repeat; }

.webp .images-parallax__human { background: url(../img/human.webp) top/cover no-repeat; }