@font-face {
  font-family: "Gilroy Medium";
  display: swap;
  src: url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Bold";
  display: swap;
  src: url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Extra-Bold";
  display: swap;
  src: url("../fonts/Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Chronicle Semi";
  display: swap;
  src: url("../fonts/Chronicle-Display-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Chronicle Bold";
  display: swap;
  src: url("../fonts/Chronicle-Display-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

//========================================================================================================================================================
$font-family: "Gilroy Medium";
$font-weight: 700;
$min-width: 320px;
$maxWidth: 1920;
$pc: 1440px;
$tablet: 768px;
$mobile: 425px;
$mobileSmall: 320px;

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(
    #{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
  );
}

//========================================================================================================================================================
@import "nullstyle.scss";
//========================================================================================================================================================

[class*="__container"] {
  max-width: 76.14%; // 1210px;
  margin: 0 auto;
  padding: 0 15px;
  @media (max-width: 1440px) {
    max-width: none;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 100%;
  height: 100%;
}

.page {
  flex: 1 1 auto;
  min-height: 100%;
  height: 100%;

  &__block {
  }
}
//========================================================================================================================================================
@import "ui.scss";
@import "header.scss";
@import "footer.scss";

//========================================================================================================================================================
.purpose {
  display: flex;
  align-items: center;
  font-weight: 800;
  @include adaptiv-font(18, 14);
  line-height: 22px/18px * 100%;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fbd784;
  @media (max-width: 767px) {
    justify-content: center;
  }
  &::before {
    content: "";
    flex: 0 0 70px;
    margin: 0 30px 0 0;
    background-color: #fbd784;
    height: 2px;
    @media (max-width: 767px) {
      flex: 0 0 50px;
      margin: 0 10px 0 0;
    }
    @media (max-width: 424px) {
      flex: 0 0 25px;
    }
  }
}
//========================================================================================================================================================

.parallax {
  min-height: 100vh;
  &__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__container {
    max-width: 91.6%;
    margin: 0 auto;
    @media (max-width: 767px) {
      max-width: none;
    }
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 287px 0 0 0;
    @media (max-width: 1440px) {
      padding: 170px 0 0 0;
    }
    @media (max-width: 767px) {
      padding: 130px 15px 0 15px;
    }
  }

  &__social {
  }

  &__main {
  }

  &__navbar {
  }

  &__images {
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    z-index: 1;
  }
}

.images-parallax {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(
      330.24deg,
      rgba(11, 29, 38, 0) 31.06%,
      #0b1d26 108.93%
    );
  }
  &__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__clouds {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 0;
    background: url("../img/clouds.jpg") center/cover no-repeat;
  }

  &__mountains {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 30%; //30%
    z-index: 2;
    background: url("../img/mountains.png") top / cover no-repeat;
  }

  &__human {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 45%; //45
    z-index: 3;
    background: url("../img/human.png") top / cover no-repeat;
    @media (max-aspect-ratio: 3/2) {
      background-position: 20% top;
    }
  }
}

.social-parallax {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  @media (max-width: 767px) {
    display: none;
  }
  &__text {
    text-transform: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px/18px * 100%;
    color: #ffffff;
    writing-mode: vertical-rl;
  }

  &__icon {
  }
}

.main-parallax {
  padding: 0 0 0 22.5%;
  @media (max-width: 767px) {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  & > *:not(:last-child) {
    margin: 0 0 33px 0;
  }
  &__purpose {
  }

  &__title {
    max-width: 75.1%;
    @media (max-width: 767px) {
      max-width: none;
      text-align: center;
    }
    font-family: "Chronicle Semi";
    font-style: normal;
    font-weight: 600;
    @include adaptiv-font(88, 33);
    line-height: 114%;
    text-transform: capitalize;
    color: #ffffff;
  }

  &__scroll {
  }
}
.scroll-main-parallax {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 15px;
  &__text {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: none;
    color: #ffffff;
  }

  &__icon {
  }
}
.navbar-parallax {
  &__list {
  }
}
.list-navbar {
  display: flex;
  flex-direction: column;
  @media (max-width: 767px) {
    display: none;
  }
  &__item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &::after {
      content: "";
      flex: 0 0 3px;
      height: 60px;
      margin: 0 0 0 32px;
      background-color: #fff;
      opacity: 0.5;
      transition: all 0.3s ease 0s;
    }
    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }

  &__link {
    font-size: 18px;
    line-height: 22px;

    color: #ffffff;
    text-transform: none;
  }
}

//========================================================================================================================================================
.content {
  margin: 220px 0 0 0;
  background-color: #0b1d26;
  position: relative;
  z-index: 2;
  &::before {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    transform: translate(0, -60%);
    background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0b1d26 61.38%);
  }
  &__body {
    display: flex;
    flex-direction: column;
  }
}

//========================================================================================================================================================

.block {
  transform: translate(0, -27.7%);
  @media (max-width: 1210px) {
    transform: translate(0, 0);
  }
  &:not(:last-child) {
    margin: 0 0 200px 0;
    @media (max-width: 727px) {
      margin: 0 0 100px 0;
    }
  }

  &__container {
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 767px) {
      flex-direction: column-reverse;
    }
  }
  &__body-reverse {
    flex-direction: row-reverse;
    @media (max-width: 767px) {
      flex-direction: column-reverse;
    }
  }

  &__content {
    position: relative;
    flex: 0 1 53.48%;

    @media (max-width: 767px) {
      flex: 0;
      padding: 0;
    }
  }
  &__content-1 {
    &::before {
      content: "01";
      position: absolute;

      z-index: 1;
      left: -23.73%;
      top: -23.46%;
      font-family: "Gilroy Bold";
      font-weight: 700;
      @include adaptiv-font(240, 50);
      line-height: 100%;
      color: #ffffff;
      opacity: 0.1;
      @media (max-width: 1440px) {
        left: 0;
      }
      @media (max-width: 767px) {
        top: -10%;
      }
    }
  }
  &__content-3 {
    &::before {
      content: "03";
      position: absolute;
      left: -23.73%;
      top: -23.46%;
      font-family: "Gilroy Bold";
      font-weight: 700;
      @include adaptiv-font(240, 50);
      line-height: 100%;
      color: #ffffff;
      opacity: 0.1;
      @media (max-width: 1440px) {
        left: 0;
      }
      @media (max-width: 600px) {
        top: -10%;
      }
    }
  }

  &__picture {
    position: relative;
    flex: 0 1 39.53%;
    padding: 0 0 50.3% 0;

    @media (max-width: 767px) {
      padding: 0 0 100% 0;
      width: 100%;
      margin: 0 0 50px 0;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.content-block {
  max-width: 632px;
  @media (max-width: 1210px) {
    max-width: 80%;
  }
  @media (max-width: 767px) {
    max-width: none;
  }
  &-reverse {
    max-width: 632px;
    @media (max-width: 1210px) {
      max-width: 80%;
    }
    @media (max-width: 767px) {
      max-width: none;
    }
    &::before {
      content: "02";
      position: absolute;
      left: -23.73%;
      top: -23.46%;
      font-family: "Gilroy Bold";
      font-weight: 700;
      @include adaptiv-font(240, 50);
      line-height: 100%;
      color: #ffffff;
      opacity: 0.1;
      @media (max-width: 1750px) {
        left: -10%;
      }
      @media (max-width: 1440px) {
        left: 0;
      }
      @media (max-width: 600px) {
        top: -10%;
      }
    }
  }

  & > *:not(:last-child) {
    margin: 0 0 27px 0;
    @media (max-width: 1440px) {
      margin: 0 0 20px 0;
    }
    @media (max-width: 1024px) {
      margin: 0 0 15px 0;
    }
  }

  &__sub-title {
    justify-content: flex-start;
  }

  &__title {
    font-family: "Chronicle Semi";
    max-width: 555px;
    font-weight: 600;
    @include adaptiv-font(64, 35);
    line-height: 77px/64px * 100%;

    color: #ffffff;
  }

  &__text {
    font-weight: 700;
    @include adaptiv-font(18, 14);
    line-height: 178%;
    color: #ffffff;
  }

  &__more {
  }
}
.more-block {
  display: flex;
  align-items: center;
  gap: 16px;
  &__text {
    font-size: 18px;
    line-height: 22px/18px * 100%;
    color: #fbd784;
  }

  &__icon {
  }
}

//========================================================================================================================================================

//========================================================================================================================================================

//========================================================================================================================================================

//========================================================================================================================================================

//========================================================================================================================================================

//========================================================================================================================================================
